{% extends "base.html" %}

{% block title %}
🛡️Administrator Portal
{% endblock %}

{% block content %}


<h1>🛡️Administrator Portal</h1>

<div class="stats">
    <div class="card">
        <h1>Total Treks</h1>
        <p>12</p> <!--Future Upgration-->
    </div>

    <div class="card">
        <h1>Pending Staff Approvals</h1>
        <p>4 </p><!--Future Upgration-->
    </div>

    <div class="card">
        <h1>Active Bookings</h1>
            <p>38</p> <!--Future Upgration-->
    </div>

</div>

<hr>
<div class="table">

    <table border="1">
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Assigned Staff ID
            </th>
            <th>
                Status
            </th>
        </tr>

        {% for active in active_bookings %}
        <tr>
            <td>{{ active.name }}</td>
            <td>{{ active.location }}</td>
            <td>{{ active.assigned_staff_id }}</td>
            <td>{{ active.status }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}