{% extends "base.html" %}
{% block title %}
Login
{% endblock %}


{% block content %}

<div class="form-container">
    {% if error %}
    <div
        style="color: red; margin-bottom: 15px; padding: 10px; border: 1px solid red; border-radius: 4px; background-color: #ffe6e6;">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

    <form action="login" method="post">
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="lokesh" required>

        <label for="password">Password</label>
        <input type="password" placeholder="••••••••" name="password" required>

        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="admin">Admin</option>
            <option value="TrekkStaff">Trek Staff</option>
            <option value="User(Trekker)">User(Trekker)</option>
        </select>
        <button type="submit">Login</button>
    </form>

</div>

{% endblock %}