{% extends "base.html" %}

{% block title %} Registration {% endblock title %}

{% block content %}
<form action="register" method="post">
    <h1>Register</h1>
    <!-- Username -->
    <label for="username">Username</label><br>
    <input type="text" id="username" placeholder="lokesh" required name="username"><br>
    <!-- Password -->
    <label for="password">Password</label><br>
    <input type="password" id="password" placeholder="••••••••" required name="password"><br>
    <!-- Role -->
    <label for="role">Role</label><br>
    <select name="role" id="role" required>
        <option value="Trek Staff">Trekk Staff</option>
        <option value="User(Trekker)">User(Trekker)</option>   
    </select> <br>
    
    <input type='submit' value='Register'>

</form>
    
{% endblock %}